.myCopyRight {
    color: white;
    margin-top: 20px;
    margin-right: 20px;
}

.myImage {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

.myFrontPageText {
    font-size: 45px;
    text-align: center;
    font-family: 'Freestyle Script';
    color: darkblue;
}

.myNavbarStyle {
    background: -moz-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(5,193,255,1) 83%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,0,1)), color-stop(83%, rgba(5,193,255,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(5,193,255,1) 83%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(5,193,255,1) 83%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(5,193,255,1) 83%, rgba(0,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(5,193,255,1) 83%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#FF0000',GradientType=1 ); /* ie6-9 */
}

.myTextInGallery {
    font-size: 45px;
    text-align: center;
    font-family: Algerian;
    color:rebeccapurple;
}

.myTTT{

    text-align:center;
    font-family:Algerian;
}

.mylegend{
    font-size: 25px;
    text-align: left;
    font-family: Algerian;
    color:darkcyan;
}

.myh2AddImage{
    text-align: left;
    font-family: Algerian;
    color:darkmagenta;
}

.myh2DelImage{
    text-align: left;
    font-family: Algerian;
    color:darkred;
}
.myAddBox{
   background: -moz-linear-gradient(337deg, rgba(255,255,0,1) 0%, rgba(5,193,255,1) 50%, rgba(255,255,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,255,0,1)), color-stop(50%, rgba(5,193,255,1)), color-stop(100%, rgba(255,255,0,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(337deg, rgba(255,255,0,1) 0%, rgba(5,193,255,1) 50%, rgba(255,255,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(337deg, rgba(255,255,0,1) 0%, rgba(5,193,255,1) 50%, rgba(255,255,0,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(337deg, rgba(255,255,0,1) 0%, rgba(5,193,255,1) 50%, rgba(255,255,0,1) 100%); /* ie10+ */
background: linear-gradient(113deg, rgba(255,255,0,1) 0%, rgba(5,193,255,1) 50%, rgba(255,255,0,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffff00',GradientType=1 ); /* ie6-9 */
}

.myDelBox{
       background: -moz-linear-gradient(337deg, rgba(255,255,0,1) 0%, rgba(5,193,255,1) 50%, rgba(255,255,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,255,0,1)), color-stop(50%, rgba(5,193,255,1)), color-stop(100%, rgba(255,255,0,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(337deg, rgba(255,255,0,1) 0%, rgba(5,193,255,1) 50%, rgba(255,255,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(337deg, rgba(255,255,0,1) 0%, rgba(5,193,255,1) 50%, rgba(255,255,0,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(337deg, rgba(255,255,0,1) 0%, rgba(5,193,255,1) 50%, rgba(255,255,0,1) 100%); /* ie10+ */
background: linear-gradient(113deg, rgba(255,255,0,1) 0%, rgba(5,193,255,1) 50%, rgba(255,255,0,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffff00',GradientType=1 ); /* ie6-9 */
}


.myUpImP{
    font-size:18px;
    font-family:'Book Antiqua';
    color:darkgreen;
}

.myComments{
    font-size:28px;
    font-style:italic;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F
}

.myPostCpmmentB{
    text-align:left;
}

.myimgG{
    height:0,auto;
    width:0,auto;
    margin:auto;
}


/*ANIMATION CODE START*/

.{margin:0;padding:0;}

/*#myClouds{
    padding:150px 0;
    background:#c9dbe9;

    background: -webkit-linear-gradient(top,#c9dbe9 0% #fff 100%);
    background: -moz-linear-gradient(top,#c9dbe9 0% #fff 100$);
}*/

.myCloud{
    width:200px;
    height:60px;
    background:#fff;

    border-radius:200px;
    -moz-border-radius:200px;
    -webkit-border-radius:200px;

    position:relative;
}

.myCloud:before, .myCloud:after{
    content:"";
    position:absolute;
    background:#fff;
    width:100px;
    height:80px;
    border: 1px solid white;
    position:absolute;
    top:-15px;
    left:10px;

    border-radius:100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;

    -webkit-transform:rotate(30deg);
    transform:rotate(30deg);
    -moz-transform:rotate(30deg);
}

.myCloud:after{
    width:120px;
    height:120px;
    top:-55px;
    left:auto;
    right:15px;

}

.x1{
    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x2{
    left:200px;

    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    transform:scale(0.6);
    opacity:0.6;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x3{
    left:-250px;
    top:-230px;

    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.8;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x4{
    left:470px;
    top:-200px;

    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    transform:scale(0.75);
    opacity:0.75;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x5{
    left:-150px;
    top:-150px;

    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    transform:scale(0.6);
    opacity:0.6;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x6{
    left:330px;
    top:-300px;

    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    transform:scale(0.5);
    opacity:0.5;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x7{
    left:-250px;
    top:-350px;

    -webkit-transform:scale(0.65);
    -moz-transform:scale(0.65);
    transform:scale(0.65);
    opacity:0.65;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x8{
    left:410px;
    top:-800px;

    -webkit-transform:scale(0.55);
    -moz-transform:scale(0.55);
    transform:scale(0.55);
    opacity:0.55;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x9{
    left:-100px;
    top:-500px;

    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    transform:scale(0.9);
    opacity:0.9;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x10{
    left:520px;
    top:-380px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x11{
    left:470px;
    top:-700px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x12{
    left:-420px;
    top:-670px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x13{
   left:-250px;
    top:-640px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x14{
    left:470px;
    top:-610px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x15{
    left:-150px;
    top:-580px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x16{
    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x17{
    left:200px;

    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    transform:scale(0.6);
    opacity:0.6;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x18{
    left:-250px;
    top:-280px;

    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.8;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x19{
    left:470px;
    top:-250px;

    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    transform:scale(0.75);
    opacity:0.75;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x20{
    left:-150px;
    top:-200px;

    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    transform:scale(0.6);
    opacity:0.6;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x21{
    left:330px;
    top:-350px;

    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    transform:scale(0.5);
    opacity:0.5;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x22{
    left:-250px;
    top:-400px;

    -webkit-transform:scale(0.65);
    -moz-transform:scale(0.65);
    transform:scale(0.65);
    opacity:0.65;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x23{
    left:410px;
    top:-850px;

    -webkit-transform:scale(0.55);
    -moz-transform:scale(0.55);
    transform:scale(0.55);
    opacity:0.55;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x24{
    left:-100px;
    top:-550px;

    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    transform:scale(0.9);
    opacity:0.9;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x25{
    left:520px;
    top:-420px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x26{
    left:470px;
    top:-750px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x27{
    left:-420px;
    top:-720px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x28{
   left:-250px;
    top:-690px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x29{
    left:470px;
    top:-660px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

.x30{
    left:-150px;
    top:-630px;

    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    transform:scale(0.85);
    opacity:0.85;

    -webkit-animation:moveclouds 15s linear infinite;
    -moz-animation:moveclouds 15s linear infinite;
    -o-animation:moveclouds 15s linear infinite;
}

@-webkit-keyframes moveclouds{
    0% {margin-left:1550px;}
    100% {margin-left:-900px;}
}

/*ANIMATION CODE END*/

.myCreateText{
    text-align:center;
    font-size: 45px;
    font-family: 'Freestyle Script';
    color:black;

}
/*#myList{
   font-size: 100px;
   color:#FF0000;
}*/


body{
    background:rgb(204, 255, 255);
}