@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "About Us";
}

<body background="~/Content/BackGroundHummer.jpg">
</body>

<section class="row">
    <article class="post col-md-3">
        <h2>За нас </h2>

        <div>
            <p>
                <b>Share Your Friends</b> 
                We are super mega hyper people that share our friends!
            </p>
            <h4>Topcho team </h4>
            <div>4th beautiful people and one fat dog</div>
        </div>
    </article>
</section>


