@model List<Blog.Models.Comment>
@{
    ViewBag.Title = "ListUserComments";
}

<div class="container">
    <div class="row">
        @foreach (var comment in Model)
        {
            <div class="col-sm-6">
                <p>
                    @comment.Content
                </p>
                <small class="author pull-left">
                    --author @comment.Author.FullName
                </small>
                <br />
                @Html.ActionLink("Article", "Details", "Article", new { @id = comment.ArticleId }, new { @class = "btn btn-success btn-xs" })
            </div>
        }
    </div>
</div>
<hr />

