@model List<Blog.Models.Comment>
@{
    ViewBag.Title = "ListUserComments";
}

<div class="container">
    <div class="row">
        @foreach (var comment in Model)
        {
            <div class="col-sm-6">
                <p>
                    @comment.Content
                </p>
                <small class="author pull-right">
                    --author @comment.Author.FullName
                    @{
                        <!-- Add by nasko-->
                        var imgUrl = Url.Content("~/Content/images/profile/" + comment.Author.Email + ".png") + "?time=" + DateTime.Now.ToString();
                    }
                    <img src="@imgUrl" height="60" width="55" />
                </small>
                <br />
                <br />
                <br /><p>Push button to view article</p>
                @Html.ActionLink("Article", "Details", "Article", new { @id = comment.ArticleId }, new { @class = "btn btn-success btn-xs" })
            </div>
        }
    </div>
</div>
<hr />

