
@{
    ViewBag.Title = "DeleteImages";
}

<h2>DeleteImages</h2>

@using (Html.BeginForm("DeleteImages", "Slider", FormMethod.Post))
{
    <table style="background-color:azure" border="1">
        <thead style="background-color:darkturquoise">
            <tr>
                <th>Select</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody style="background-color:cyan">
            @Html.EditorForModel()
        </tbody>
    </table>
    <input type="submit" value="Delete Selected Images" />
}

<p>@Html.ActionLink("Slider Home","Index","Slider")</p>

