
@{
    ViewBag.Title = "DeleteImages";
}
<div class="myDelBox">

<h2 class="myh2DelImage">Delete Images</h2>

@using (Html.BeginForm("DeleteImages", "Slider", FormMethod.Post))
{
    <table style="background-color:azure" border="1">
        <thead style="background-color:darkturquoise">
            <tr>
                <th>Select</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody style="background-color:ghostwhite">
            @Html.EditorForModel()
        </tbody>
    </table>
    <input type="submit" value="Delete Selected Images"  class = "btn btn-danger" />
}

<p>@Html.ActionLink("Slider Home","Index","Slider", new { @class = "btn btn-info" })</p>

</div>
