@model IEnumerable<Blog.Models.Gallery>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}


<h2 class="myTextInGallery">15 Facts That Only Programmers Know And Most People Don’t</h2>
<p class="myTTT">

    @Html.ActionLink("Add Image", "AddImage", "Slider", new { id = "linkAddImage" }, new { @class = "btn btn-info" })

    @Html.ActionLink("Delete Image", "DeleteImages", "Slider", new { id = "linkDeleteImage" }, new { @class = "btn btn-danger" })

</p>
@Html.Partial("~/Views/Shared/SliderPartial.cshtml", Model)
