@model List<Blog.Models.Category>

@{
    ViewBag.Title = "List";
}

@if (Request.IsAuthenticated)
{
<div class="container">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-sm-6 text-center text-uppercase">
                <p>
                    <h2>
                        @Html.ActionLink(string.Format($"{category.Name} ({category.Articles.Count})"),
             "ListArticles", "Home", new { @categoryId = category.Id }, null)
                </h2>
            </p>
        </div>
        }
    </div>
</div>
<hr />
}
else
{
    <img src="~/Content/images/HomePic/shareLogo.png" class="myImage" />
    <marquee direction="up" SCROLLAMOUNT=2>
        <p class="myFrontPageText">If you have a friend with programming skills </p>
        <p class="myFrontPageText">This is the right place to share it</p>
    </marquee>
}
