@model List<Blog.Models.Category>

@{
    ViewBag.Title = "List";
}

@if (Request.IsAuthenticated)
{
<div class="container ">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-sm-6 text-center text-uppercase">
                <p>
                    <h2 id="myList">
                        @Html.ActionLink(string.Format($"{category.Name} ({category.Articles.Count})"),
             "ListArticles", "Home", new { @categoryId = category.Id }, null)
                </h2>
            </p>
        </div>
        }
    </div>
</div>
<div id="myClouds">
    <div class="myCloud x1"></div>
    <div class="myCloud x2"></div>
    <div class="myCloud x3"></div>
    <div class="myCloud x4"></div>
    <div class="myCloud x5"></div>
    <div class="myCloud x6"></div>
    <div class="myCloud x7"></div>
    <div class="myCloud x8"></div>
    <div class="myCloud x5"></div>
    <div class="myCloud x10"></div>
    <div class="myCloud x11"></div>
    <div class="myCloud x12"></div>
    <div class="myCloud x13"></div>
    <div class="myCloud x14"></div>
    <div class="myCloud x15"></div>
    <div class="myCloud x16"></div>
    <div class="myCloud x17"></div>
    <div class="myCloud x18"></div>
    <div class="myCloud x19"></div>
    <div class="myCloud x20"></div>
    <div class="myCloud x21"></div>
    <div class="myCloud x22"></div>
    <div class="myCloud x23"></div>
    <div class="myCloud x24"></div>
    <div class="myCloud x25"></div>
    <div class="myCloud x26"></div>
    <div class="myCloud x27"></div>
    <div class="myCloud x28"></div>
    <div class="myCloud x29"></div>
    <div class="myCloud x30"></div>
</div>
}
else
{
    <img src="~/Content/images/HomePic/shareLogo.png" class="myImage" />
    <marquee direction="up" SCROLLAMOUNT=2>
        <p class="myFrontPageText">If you have a friend with programming skills </p>
        <p class="myFrontPageText">This is the right place to share it</p>
    </marquee>
}
