<div>
    <ul id="slider">
        @foreach (var image in Model)
        {
            <li class="myimgG"><img src="@Url.Content(image.ImagePath)"/></li>
        }
    </ul>
</div>
<script>
    $(document).ready(function () {
        $('#slider').bxSlider();
        $('.bx-wrapper').width('90%');
    });
</script>
